$background: #2d2f35;
$background-highlight: lighten($background, 10%);

$border-color: #4e4b4d;

$primary-button: #badefc;
$warning-button: #b5446e;
$success-button: #9d44b5;

$text-title-color: #04a777;
$text-normal-color: #f1ffe7;