<div class="reset-password-page">
    <form>
        Email
        <input type="email"
               name="email"
               [(ngModel)]="form.email"/>

        Password
        <input type="password"
               name="password"
               [(ngModel)]="form.password"/>

        Confirm Password
        <input type="password"
               name="confirm-password"
               [(ngModel)]="form.passwordConfirmation"/>

        <div (click)="resetPassword()">Submit</div>
    </form>
</div>