<form class="table">
	<fieldset class="fieldset">
		<legend class="header">
			Location
		</legend>
		<div class="location__title">
			<div class="location__weather">
				<pre class="location__weather-glyph"
					 [innerHtml]="weatherGlyph">
				</pre>
				<span>{{location.weather}}</span>
			</div>
			<div class="location__description">
				<span>{{location.description}}</span>
			</div>
		</div>

		<div class="location__items">
			<span class="announcement">Items</span>
			<div *ngIf="!location.display.isShowingItems">
				<span>{{location.items.length}} things lying around</span>
				<span class="link"
					  (click)="toggleShowItems()">
					Show
				</span>
			</div>

			<div class="location__items-list"
				 *ngIf="location.display.isShowingItems">
				<div *ngFor="let item of location.items">
					{{item.count}} {{item.name}}
				</div>
				<span class="link"
					  (click)="toggleShowItems()">
					Hide
				</span>
			</div>
		</div>

		<div class="location__people"
			 *ngIf="location.characters && location.characters.length > 0">
			<span class="announcement">People</span>
			<div *ngFor="let person of location.characters">
				<div *ngIf="person.isAwake && !location.display.isShowingSleepers || location.display.isShowingSleepers" >
					<div class="location__person-online"
						 *ngIf="person.isAwake">
					</div>
					{{person.name}}
				</div>
			</div>

			<div class="location__sleeping-people">
				<div *ngIf="!location.display.isShowingSleepers">
					Plus {{asleepPeopleCount}} people sleeping

					<span class="link"
						  (click)="toggleShowSleepers()">
						Show
					</span>
				</div>

				<div *ngIf="location.display.isShowingSleepers"
					 class="link"
					 (click)="toggleShowSleepers()">
					Hide
				</div>
			</div>
		</div>
	</fieldset>
</form>
