@import '../../styles/globals.scss';
@import '../../styles/colours.scss';
@import '../../styles/table.scss';

.weather-glyph {
    width: 15ch;
}

.location__title {
    display: flex;
}

.location__weather {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.location__description {
    margin-top: 1em;
    margin-left: 2ch;
}

.location__person-online {
	border-radius: 10em;
	width: 5px;
	height: 5px;
	background-color: $text-title-color;
	border: 1px solid $text-normal-color;
	display: inline-block;
	position: relative;
	top: -2px;
	left: 2px;
}