@import '../../styles/globals.scss';
@import '../../styles/colours.scss';
@import '../../styles/table.scss';

.weather-glyph {
    width: 15ch;
}

.location__title {
    display: flex;
}

.location__weather {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.location__description {
    margin-top: 1em;
    margin-left: 2ch;	
}

.location__neighbours {
	margin-top: 1em;
}

.location__neighbours-title {
	font-weight: 600;
}

.location__neighbours-list {
	max-height: 10em;
	border: 1px solid $input-border-color;
	overflow: scroll;
	padding: 1ch 1ch;
	margin-bottom: 1em;
}

.location__actions {
	margin-top: 1em;
}

.table__options {
	display: flex;
}

.table__options-header {
	margin-right: 1ch;
	border-bottom: none;
}

.location__items, .location__people, .location__activities {
	border: 1px solid #fff;
	padding: 1em;
}