<form class="table">
	<fieldset class="fieldset">
		<legend class="header">
			<span *ngIf="location.customName">{{location.customName}}</span>
			<span *ngIf="!location.customName">{{location.name}}</span>
			<span class="link"
				  (click)="name(location)">
				[name]
			</span>
		</legend>
		<div class="location__title">
			<div class="location__weather">
				<span>It is {{location.season}}</span>
				<pre class="location__weather-glyph"
					 [innerHtml]="weatherGlyph">
				</pre>
				<span>{{location.weather}}</span>

				<div class="location__actions">
					<ul *ngIf="!location.parent_zone">
						<li class="link"
							(click)="createMine()">
							[create mine]
						</li>
						<li class="link"
							(click)="createFarm()">
							[create farm]
						</li>
						<li class="link"
							(click)="explore()">
							[explore]
						</li>
					</ul>
				</div>
			</div>
			<div class="location__description">
				<span>{{location.description}}</span>
				<div *ngIf="!location.parent_zone">
					<span>It has an average amount of plants</span>
					<span class="link">
						[See plants]
					</span>
				</div>
				
				<div class="location__neighbours">
					<span class="location__neighbours-title">Neighbouring Locations</span>
					<ul class="location__neighbours-list">
						<li *ngIf="location.borders.parentZone">
							<span *ngIf="location.borders.parentZone.customName">
								{{location.borders.parentZone.customName}}
							</span>
							<span *ngIf="!location.borders.parentZone.customName">
								{{location.borders.parentZone.name}}
							</span>
							<span class="link"
								  (click)="name(location.borders.parentZone)">
								[name]
							</span>
							<span class="link"
								  (click)="moveTo(location.borders.parentZone)">
								[go]
							</span>
							<span class="link"
								  (click)="share(location.borders.parentZone)">
								[share]
							</span>
						</li>
						<li *ngIf="location.borders.siblingZones.north">
							<span *ngIf="location.borders.siblingZones.north.customName">
								{{location.borders.siblingZones.north.customName}}
							</span>

							<span *ngIf="!location.borders.siblingZones.north.customName">
								North Wilderness
							</span>

							<span class="link"
								  (click)="name(location.borders.siblingZones.north)">
								[name]
							</span>
							<span class="link"
								  (click)="moveTo(location.borders.siblingZones.north)">
								[go]
							</span>
							<span class="link"
								  (click)="share(location.borders.siblingZones.north)">
								[share]
							</span>
						</li>
						<li *ngIf="location.borders.siblingZones.east">
							<span *ngIf="location.borders.siblingZones.east.customName">
								{{location.borders.siblingZones.east.customName}}
							</span>

							<span *ngIf="!location.borders.siblingZones.east.customName">
								East Wilderness
							</span>
							<span class="link"
								  (click)="name(location.borders.siblingZones.east)">
								[name]
							</span>
							<span class="link"
								  (click)="moveTo(location.borders.siblingZones.east)">
								[go]
							</span>
							<span class="link"
								  (click)="share(location.borders.siblingZones.east)">
								[share]
							</span>
						</li>
						<li *ngIf="location.borders.siblingZones.south">
							<span *ngIf="location.borders.siblingZones.south.customName">
								{{location.borders.siblingZones.south.customName}}
							</span>

							<span *ngIf="!location.borders.siblingZones.south.customName">
								South Wilderness
							</span>

							<span class="link"
								  (click)="name(location.borders.siblingZones.south)">
								[name]
							</span>
							<span class="link"
								  (click)="moveTo(location.borders.siblingZones.south)">
								[go]
							</span>
							<span class="link"
								  (click)="share(location.borders.siblingZones.south)">
								[share]
							</span>
						</li>
						<li *ngIf="location.borders.siblingZones.west">
							<span *ngIf="location.borders.siblingZones.west.customName">
								{{location.borders.siblingZones.west.customName}}
							</span>

							<span *ngIf="!location.borders.siblingZones.west.customName">
								West Wilderness
							</span>

							<span class="link"
								  (click)="name(location.borders.siblingZones.west)">
								[name]
							</span>
							<span class="link"
								  (click)="moveTo(location.borders.siblingZones.west)">
								[go]
							</span>
							<span class="link"
								  (click)="share(location.borders.siblingZones.west)">
								[share]
							</span>
						</li>
						<div *ngFor="let childZone of location.borders.childZones">
							<li>
								<span *ngIf="childZone.customName">
									{{childZone.customName}}
								</span>

								<span *ngIf="!childZone.customName">
									{{childZone.name}}
								</span>
								<span class="link"
								  	  (click)="name(childZone)">
								  	[name]
								  </span>
								<span class="link"
								  	  (click)="moveTo(childZone)">
								  	[go]
								</span>
								<span class="link"
									  (click)="share(childZone)">
									[share]
								</span>
							</li>
						</div>
					</ul>
				</div>
			</div>

		</div>

		<div class="table__options">
			<legend class="link header table__options-header"
					(click)="showTab('isShowingItems')">
				Items
			</legend>
			<legend class="link header table__options-header"
					(click)="showTab('isShowingPeople')">
				People
			</legend>
			<legend class="link header table__options-header"
					(click)="showTab('isShowingActivities')">
				Activities
			</legend>
		</div>

		<div class="location__items"
			 *ngIf="location.display.tabs.isShowingItems">
			<pan-items [mainFeedStream]="mainFeedStream"
					   [promptStream]="promptStream"
					   [optionsStream]="optionsStream"
					   [items]="location.items">
			</pan-items>
		</div>

		<div class="location__people"
			 *ngIf="location.display.tabs.isShowingPeople">
			<pan-people [mainFeedStream]="mainFeedStream"
					    [promptStream]="promptStream"
						[optionsStream]="optionsStream"
						[people]="location.characters"
						[asleepPeopleCount]="location.asleepPeopleCount">
			</pan-people>
		</div>

		<div class="location__activities"
			 *ngIf="location.display.tabs.isShowingActivities">
			<pan-activities [mainFeedStream]="mainFeedStream"
					        [promptStream]="promptStream"
						    [optionsStream]="optionsStream"
						    [activities]="location.activities">
			</pan-activities>
		</div>
	</fieldset>
</form>
