<div class="input box">
    <div class="text">
        <span class="input__current">{{promptText}}>&nbsp;</span>
        <span class="input__current"
              [ngClass]="{'input__current--password': (prompt && prompt.isPassword)}"
              [innerHtml]="inputText.htmlInput"
              (mousedown)="mousedown($event)"
              (window:mouseup)="mouseup($event)"
              (mousemove)="mousemove($event)">
        </span>
    </div>
    <div class="options">
        <div class="option"
             *ngFor="let option of optionsTree.currentOptions">
            <span class="option__root option__text"
                  (click)="onOptionClicked(option)">
                {{option.name}}</span>

            <div class="option__container"
                 *ngFor="let option of option.options"
                 (click)="onOptionClicked(option)">
                <span>[</span>
                <span class="option__text">{{option.name}}</span>
                <span>]</span>
            </div>
        </div>
    </div>
</div>