<div class="input box">
	<div class="text">
		<span class="input__current">{{promptText}}>&nbsp;</span>
		<span class="input__current"
			  [ngClass]="{'input__current--password': (prompt && prompt.isPassword)}">{{input}}</span>
		<span class="input__suggestion">{{hint}}</span>
	</div>
	<div class="options">
		<div class="option"
			 *ngFor="let option of currentOptions">
			<span>{{option.name}}</span>

			<span *ngFor="let option of option.options">
				[{{option.name}}]
			</span>
		</div>
	</div>

	<!-- Hidden input file to stop firefox navigating back on backspace :) -->
	<input type="text" name="firefox-fix" class="input__hidden-input" autofocus>
</div>