@import '../../styles/globals.scss';

.input {
	flex-grow: 1;
	border-color: $input-border-color;
	padding: 0;
}

.input__current--password {
	background: $text-normal-color;
}

.input__current {
	white-space: pre;
}

.text {
	border-bottom: 1px solid $input-border-color;
	padding: 1em;
}

.options {
	padding: 1em;
	overflow: auto;
	max-height: 5em;
}

.input__suggestion {
	background: $text-normal-color;
	color: $background;
}

.option__root {
	margin-right: 0.5em;
}

.option__container {
	margin-right: 0.5em;
	display: inline;
}

.option__text {
	&:hover {
		cursor: pointer;
		text-decoration: underline;
	}
}