@import '../../styles/globals.scss';

.input {
	border-color: $input-border-color;
	padding: 0;
}

.text {
	border-bottom: 1px solid $input-border-color;
	padding: 1em;
}

.options {
	padding: 1em;
}

.input__suggestion {
	background: $text-normal-color;
	color: $background;
}