<form class="table">
	<fieldset class="fieldset">
		<legend class="header">
			Plants
		</legend>
		<div *ngFor="let plantGroup of plantGroups">
			<span class="plant-type">{{plantGroup}}s</span>

			<div *ngFor="let plant of groupedPlants[plantGroup]">
				<span class="expandable"
					  (click)="plant.isShowing = !plant.isShowing"
					  [ngClass]="{'expandable--is-showing': !!plant.isShowing}">
					{{plant.customName || 'unknown ' + plantGroup}}
				</span>
				<span class="plant-tags">
					<span class="plant-tag__flowering"
						  *ngIf="plant.flowerAppearance">
						Flowering
					</span>
					<span class="plant-tag__fruiting"
						  *ngIf="plant.fruitAppearance">
						Fruiting
					</span>
					<span class="plant-tag__seeding"
						  *ngIf="plant.seedAppearance">
						Seeding
					</span>
				</span>
				<span class="link"
					  *ngIf="plant.isShowing"
					  (click)="name(plant)">
					<span *ngIf="!plant.customName">[name]</span>
					<span *ngIf="plant.customName">[rename]</span>
				</span>
				<span class="link"
					  *ngIf="plant.customName"
					  (click)="share(plant)">[share]</span>

				<ul class="expandable__detail"
					*ngIf="plant.isShowing">
					<li class="plant-detail"
						*ngIf="plant.woodAppearance">
						{{plant.woodAppearance}}
						<span class="link"
							  (click)="gather(plant, 'wood')">
							[gather]
						</span>
						<span *ngIf="plant.inventory.wood">
							({{plant.inventory.wood.count}} in inventory)
						</span>
					</li>
					<li class="plant-detail"
						*ngIf="plant.leafAppearance">
						{{plant.leafAppearance}}
						<span class="link"
							  (click)="gather(plant, 'leaf')">
							[gather]
						</span>
						<span class="link"
							  (click)="eat(plant.inventory.leaf)"
							  *ngIf="plant.inventory.leaf">
							[eat]
						</span>
						<span *ngIf="plant.inventory.leaf">
							({{plant.inventory.leaf.count}} in inventory)
						</span>
					</li>
					<li class="plant-detail"
						*ngIf="plant.flowerAppearance">
						{{plant.flowerAppearance}}
						<span class="link"
							  (click)="gather(plant, 'flower')">
							[gather]
						</span>
						<span class="link"
							  (click)="eat(plant.inventory.flower)"
							  *ngIf="plant.inventory.flower">
							[eat]
						</span>
						<span *ngIf="plant.inventory.flower">
							({{plant.inventory.flower.count}} in inventory)
						</span>
					</li>
					<li class="plant-detail"
						*ngIf="plant.seedAppearance">
						{{plant.seedAppearance}}
						<span class="link"
							  (click)="gather(plant, 'seed')">
							[gather]
						</span>
						<span class="link"
							  (click)="eat(plant.inventory.seed)"
							  *ngIf="plant.inventory.seed">
							[eat]
						</span>
						<span *ngIf="plant.inventory.flower">
							({{plant.inventory.flower.count}} in inventory)
						</span>
					</li>
					<li class="plant-detail"
						*ngIf="plant.fruitAppearance">
						{{plant.fruitAppearance}}
						<span class="link"
							  (click)="gather(plant, 'fruit')">
							[gather]
						</span>
						<span class="link"
							  (click)="eat(plant.inventory.fruit)"
							  *ngIf="plant.inventory.fruit">
							[eat]
						</span>
						<span *ngIf="plant.inventory.fruit">
							({{plant.inventory.fruit.count}} in inventory)
						</span>
					</li>
				</ul>
			</div>
		</div>
	</fieldset>
</form>