@import '../../styles/globals.scss';
@import '../../styles/colours.scss';
@import '../../styles/table.scss';

.plant-type {
	font-weight: bold;
	text-transform: capitalize;
}

.plant-detail {
	display: inline-block;
}
