<form class="table">
	<fieldset class="fieldset">
		<legend class="header">
			Crafting
		</legend>

		<div *ngFor="let item of items">
			<span class="plant-type expandable"
				  (click)="item.isShowing = !item.isShowing">
				{{item.name}}
			</span>

			<div *ngFor="let recipe of item.recipes; let i = index">
				<div *ngIf="item.isShowing">
					<span>Recipe {{i + 1}}</span>

					<span class="link"
						  (click)="craft(item)">
						[craft]
					</span>

				    <div class="crafting__stats">
						<div class="expandable__detail">Efficiency: {{recipe.base_efficiency}}</div>
						<div class="expandable__detail">Rot Rate: {{recipe.base_rot_rate}}</div>
						<div class="expandable__detail">Size: {{recipe.base_volume}}</div>
				    </div>

				    <div class="expandable__detail">
						<span>Ingredients</span>

						<ul class="crafting__ingredient"
							*ngFor="let ingredient of recipe.ingredients">
							<li>
								<span>{{ingredient.quantity_min}} - {{ingredient.quantity_max}} </span>
								<span *ngIf="ingredient.item">{{ingredient.item}}</span>
								<span *ngIf="ingredient.item_type">{{ingredient.item_type}}</span>
								<span> ({{ingredient.skill_name}})</span>
							</li>
						</ul>
				    </div>
				</div>
			</div>
		</div>
	</fieldset>
</form>