@import '../../styles/globals.scss';
@import '../../styles/colours.scss';
@import '../../styles/table.scss';

.crafting__ingredient {
	margin-left: 2ch;
}

.item-type {
	font-weight: 600;
	text-transform: capitalize;
}