<div class="landing-page">
	<div class="panels">
	    <!-- Location -->
	    <pan-location *ngIf="panel === 'location'"
	    			  [character]="character"
	    			  [promptStream]="promptStream"
	    			  [optionsStream]="optionsStream">
	    </pan-location>

	    <!-- Plants -->
	    <pan-plants *ngIf="panel === 'plants'"
	    		    [character]="character"
	    			[promptStream]="promptStream"
	    			[optionsStream]="optionsStream">
	    </pan-plants>

	    <!-- Inventory -->
	    <pan-inventory *ngIf="panel === 'inventory'"
	    		       [character]="character"
	    			   [promptStream]="promptStream"
	    			   [optionsStream]="optionsStream">
	    </pan-inventory>

		<!-- Main Text Feed -->
	    <pan-feed class="feed"
	              [feed]="feed"
	    ></pan-feed>
	</div>
    <pan-input class="input"
               [options]="options"
               [originalOptions]="originalOptions"
               [prompt]="prompt"
               [panelStream]="panelStream"
    ></pan-input>

</div>