<div class="landing-page">
	<div class="panels">
		<!-- Main Text Feed -->
	    <pan-feed class="feed"
	              [feed]="feed"
	               *ngIf="false"
	    ></pan-feed>

	    <!-- Location -->
	    <pan-location *ngIf="false">
	    </pan-location>

	    <!-- Plants -->
	    <pan-plants [character]="character">
	    </pan-plants>
	</div>
    <pan-input class="input"
               [options]="options"
               [originalOptions]="originalOptions"
               [prompt]="prompt"
    ></pan-input>

</div>