<div class="landing-page">
    <div class="panels">
        <!-- Location -->
        <pan-location *ngIf="panel === 'location'"
                      [mainFeedStream]="mainFeedStream"
                      [promptStream]="promptStream"
                      [optionsStream]="optionsStream">
        </pan-location>

        <!-- Plants -->
        <pan-plants *ngIf="panel === 'plants'"
                    [promptStream]="promptStream"
                    [optionsStream]="optionsStream">
        </pan-plants>

        <!-- Inventory -->
        <pan-inventory *ngIf="panel === 'inventory'"
                       [promptStream]="promptStream"
                       [optionsStream]="optionsStream">
        </pan-inventory>

        <!-- Crafting -->
        <pan-crafting *ngIf="panel === 'crafting'"
                      [mainFeedStream]="mainFeedStream"
                      [promptStream]="promptStream"
                      [optionsStream]="optionsStream">
        </pan-crafting>

        <!-- Main Text Feed -->
        <pan-feed *ngIf="panel === ''"
                  class="feed"
                  [feed]="feed"
        ></pan-feed>
    </div>
    <pan-input class="input"
               [options]="options"
               [originalOptions]="originalOptions"
               [prompt]="prompt"
               [panelStream]="panelStream"
    ></pan-input>

</div>